
body {
    background-color: rgb(214, 214, 214);
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.75);
    font-size: 35px;
}

.title {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(200, 200, 200);
    width: 100%;
}

.items {
    margin-left: 54%;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    font-size: 35px;
    padding: 4%;
}

.stats {
    font-size: 25px;
}

.flex>div {
    border: solid blueviolet 5px;
    padding: 1%;
}
